parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'test_key' on iterable\\<string, Psr\\\\Cache\\\\CacheItemInterface\\>\\.$#"
			count: 2
			path: ../tests/src/Acceptance/CachePoolChainTest.php

		-
			message: "#^Cannot access offset 'test_key2' on iterable\\<string, Psr\\\\Cache\\\\CacheItemInterface\\>\\.$#"
			count: 2
			path: ../tests/src/Acceptance/CachePoolChainTest.php

		-
			message: "#^Parameter \\#2 \\$array of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, iterable\\<string, Psr\\\\Cache\\\\CacheItemInterface\\> given\\.$#"
			count: 4
			path: ../tests/src/Acceptance/CachePoolChainTest.php
